<template>
  <q-dialog ref="dialogRef" @hide="onDialogHide">
    <q-card class="q-dialog-plugin">
      <q-card-section>
        <form @submit.prevent>
          <h5>Nouvel Note</h5>
          <!-- Projet à associer à la note -->
          <div v-if="puid === null" class="q-pa-md">
            <q-select
              v-model="selectedProject"
              :options="projects"
              option-value="uid"
              option-label="title"
              label="Sélectionner un projet"
            />
          </div>

          <div class="q-pa-md">
            <q-input
              v-model="note.title"
              outlined
              label="Titre de la note"
            ></q-input>
          </div>
        </form>
      </q-card-section>

      <!-- buttons -->
      <q-card-actions align="right">
        <q-btn color="primary" label="OK" @click="onOKClick" />
        <q-btn color="primary" label="Cancel" @click="onCancelClick" />
      </q-card-actions>
    </q-card>
  </q-dialog>
</template>
<script>
import { useDialogPluginComponent, date, useQuasar } from "quasar";
import { reactive, ref } from "vue";
import { v4 as uuidv4 } from "uuid";
//import { useLocalProjects } from "./../data/localStorage";

export default {
  props: {
    project: Object,
  },

  emits: [
    // REQUIRED
    "ok",
    "hide",
  ],

  setup(props) {
    const $q = useQuasar();
    const { dialogRef, onDialogHide, onDialogOK, onDialogCancel } =
      useDialogPluginComponent();

    const puid =
      props !== undefined && props.project !== null ? props.project.uid : null;

    const projects = []; useLocalProjects();
    const selectedProject = null; //ref(props.project);

    const note = reactive({
      uid: uuidv4(),
      title: "",
      content: "",
      projectUid: puid,
    });

    return {
      note: note,
      puid: puid,
      selectedProject: selectedProject,
      projects: projects,
      dialogRef,
      onDialogHide,

      // other methods that we used in our vue html template;
      // these are part of our example (so not required)
      onOKClick() {
        // on OK, it is REQUIRED to
        // call onDialogOK (with optional payload)
        if (selectedProject.value === null) {
          $q.notify({
            message: "Vous devez sélectionner un projet",
            color: "negative",
          });
        } else {
          note.projectUid = selectedProject.value.uid;
          onDialogOK(note);
        }
      },

      // we can passthrough onDialogCancel directly
      onCancelClick: onDialogCancel,
    };
  },
};
</script>
