<template>
  <q-btn @click="showAddEventForm" v-if="round === true" round :color="color">
    <q-icon :name="icon"></q-icon>
    <q-tooltip v-if="label !== ''">{{ label }}</q-tooltip>
  </q-btn>
  <q-btn @click="showAddEventForm" v-else :color="color">
    <q-icon left :name="icon"></q-icon>
    <div v-if="label !== ''">{{ label }}</div>
  </q-btn>
</template>

<script>
import { useQuasar } from "quasar";
import CreateEventDialog from "./../components/CreateEventDialog.vue";

export default {
  props: {
    project: {
      type: Object,
      required: false,
    },
    round: {
      type: Boolean,
      default: true,
    },
    label: {
      type: String,
      default: "",
    },
    icon: {
      type: String,
      default: "add",
    },
    color: {
      type: String,
      default: "primary",
    },
  },
  emits: ["event-created"],
  setup(props, context) {
    const $q = useQuasar();

    const add = () => {
      $q.dialog({
        component: CreateEventDialog,
        componentProps: {
          project: props && props.project ? props.project : null,
        },
      }).onOk((data) => {
        context.emit("event-created", data);
      });
    };

    return {
      showAddEventForm: add,
    };
  },
};
</script>
