<template>
  <q-dialog ref="dialogRef" @hide="onDialogHide">
    <q-card class="q-dialog-plugin">
      <q-card-section>
        <div>
          <h5>Nouvel évènement</h5>

          <!-- event types -->
          <div class="q-pa-md">
            <q-select
              v-model="selectedType"
              :options="types"
              option-value="id"
              option-label="name"
              label="Sélectionner un type"
            />
          </div>
          <!-- Durée de l'évènement -->
          <div class="q-pa-md">
            <q-input
              filled
              placeholder="Durée de l'évènement"
              v-model.number="newEvent.time"
              type="number"
              step="0.5"
              min="0"
            >
              <template v-slot:append>
                <q-icon name="access_time" />
              </template>
            </q-input>
          </div>
          <!-- Date de l'évènement -->
          <div class="q-pa-md">
            <q-input
              placeholder="Date de l'évènement"
              filled
              v-model="newEvent.date"
            >
              <template v-slot:append>
                <q-icon name="event" class="cursor-pointer">
                  <q-popup-proxy
                    ref="qDateProxy"
                    cover
                    transition-show="scale"
                    transition-hide="scale"
                  >
                    <q-date mask="DD/MM/YYYY" v-model="newEvent.date">
                      <div class="row items-center justify-end">
                        <q-btn
                          v-close-popup
                          label="Close"
                          color="primary"
                          flat
                        />
                      </div>
                    </q-date>
                  </q-popup-proxy>
                </q-icon>
              </template>
            </q-input>
          </div>
          <!-- notes de l'évènement -->
          <div class="q-pa-md">
            <q-editor
              class="q-mt-sm"
              v-model="newEvent.comments"
              outlined
              min-height="5rem"
              label="Description"
            ></q-editor>
          </div>
        </div>
      </q-card-section>

      <!-- buttons example -->
      <q-card-actions align="right">
        <q-btn color="primary" label="OK" @click="onOKClick" />
        <q-btn color="primary" label="Cancel" @click="onCancelClick" />
      </q-card-actions>
    </q-card>
  </q-dialog>
</template>
<script>
import { useDialogPluginComponent, date, useQuasar } from "quasar";
import { reactive, ref } from "vue";
import { api } from "boot/axios";

export default {
  props: {
    project: Object,
  },

  emits: [
    // REQUIRED
    "ok",
    "hide",
  ],

  setup(props) {
    const $q = useQuasar();
    const { dialogRef, onDialogHide, onDialogOK, onDialogCancel } =
      useDialogPluginComponent();

    const selectedProject = ref(props.project);
    const eventTypes = ref(null);
    const fetchEventType = function () {
      api
        .get(`category`)
        .then((response) => {
          console.log("response", response);
          if (response.status === 200) {
            eventTypes.value = JSON.parse(response.data);
          } else {
            this.$q.notify({
              message: "KO A " + response.status,
              type: "negative",
            });
          }
        })
        .catch((error) => {
          $q.notify({
            message: "KOB ",
            type: "negative",
          });
        });
    };
    fetchEventType();
    const selectedType = ref(null);

    const newEvent = reactive({
      time: 0.5,
      date: date.formatDate(Date.now(), "DD/MM/YYYY"),
      pid: props.project.id,
      tid: "",
      comments: "",
    });

    return {
      newEvent: newEvent,
      types: eventTypes,
      selectedType: selectedType,
      dialogRef,
      onDialogHide,

      // other methods that we used in our vue html template;
      // these are part of our example (so not required)
      onOKClick() {
        // on OK, it is REQUIRED to
        // call onDialogOK (with optional payload)

        if (selectedProject.value === null) {
          $q.notify({
            message: "Vous devez sélectionner un projet",
            color: "negative",
          });
        } else if (selectedType.value === null) {
          $q.notify({
            message: "Vous devez sélectionner un type",
            color: "negative",
          });
        } else {
          //newEvent.projectUid = selectedProject.value.uid;
          newEvent.tid = selectedType.value.id;
          newEvent.pid = selectedProject.value.id;
          newEvent.date = date.extractDate(newEvent.date);
          console.log('selected type', selectedType)
           console.log('selected project', selectedProject)
          onDialogOK(newEvent);
        }
      },

      // we can passthrough onDialogCancel directly
      onCancelClick: onDialogCancel,
    };
  },
};
</script>
