<template>
  <q-dialog ref="dialogRef" @hide="onDialogHide">
    <q-card class="q-dialog-plugin">
      <q-card-section>
        <div>
          <h5>Nouveau type d'évènement</h5>

          <!-- Libellé -->
          <div class="q-pa-md">
            <q-input
              filled
              placeholder="Libellé du type d'évènement"
              v-model.number="newEventType.name"
            >
            </q-input>
          </div>
        </div>
      </q-card-section>

      <!-- buttons example -->
      <q-card-actions align="right">
        <q-btn color="primary" label="OK" @click="onOKClick" />
        <q-btn color="primary" label="Cancel" @click="onCancelClick" />
      </q-card-actions>
    </q-card>
  </q-dialog>
</template>
<script>
import { useDialogPluginComponent, date, useQuasar } from "quasar";
import { reactive } from "vue";

export default {
  emits: [
    // REQUIRED
    "ok",
    "hide",
  ],

  setup() {
    const $q = useQuasar();
    const { dialogRef, onDialogHide, onDialogOK, onDialogCancel } =
      useDialogPluginComponent();

    const newEventType = reactive({
      name: "",
    });

    return {
      newEventType: newEventType,
      dialogRef,
      onDialogHide,

      // other methods that we used in our vue html template;
      // these are part of our example (so not required)
      onOKClick() {
        onDialogOK(newEventType);
      },

      // we can passthrough onDialogCancel directly
      onCancelClick: onDialogCancel,
    };
  },
};
</script>
