<template>
  <q-dialog ref="dialogRef" @hide="onDialogHide">
    <q-card class="q-dialog-plugin">
      <q-card-section>
        <div>
          <div class="text-h5">Modifier l'évènement</div>
          <!-- Projet à associer à l'évènement -->
          <div class="q-pa-md">
            <q-select
              v-model="selectedProject"
              :options="projects"
              option-value="uid"
              option-label="title"
              label="Sélectionner un projet"
            />
          </div>
          <!-- event types -->
          <div class="q-pa-md">
            <q-select
              v-model="selectedType"
              :options="types"
              option-value="uid"
              option-label="label"
              label="Sélectionner un type"
            />
          </div>
          <!-- Durée de l'évènement -->
          <div class="q-pa-md">
            <q-input
              filled
              placeholder="Durée de l'évènement"
              v-model.number="eventToEdit.duration"
              type="number"
              step="0.5"
              min="0"
            >
              <template v-slot:append>
                <q-icon name="access_time" />
              </template>
            </q-input>
          </div>
          <!-- Date de l'évènement -->
          <div class="q-pa-md">
            <q-input
              placeholder="Date de l'évènement"
              filled
              v-model="eventToEdit.date"
            >
              <template v-slot:append>
                <q-icon name="event" class="cursor-pointer">
                  <q-popup-proxy
                    ref="qDateProxy"
                    cover
                    transition-show="scale"
                    transition-hide="scale"
                  >
                    <q-date mask="DD/MM/YYYY" v-model="eventToEdit.date">
                      <div class="row items-center justify-end">
                        <q-btn
                          v-close-popup
                          label="Close"
                          color="primary"
                          flat
                        />
                      </div>
                    </q-date>
                  </q-popup-proxy>
                </q-icon>
              </template>
            </q-input>
          </div>
          <!-- notes de l'évènement -->
          <div class="q-pa-md">
            <q-editor
              class="q-mt-sm"
              v-model="eventToEdit.details"
              outlined
              min-height="5rem"
              label="Description"
            ></q-editor>
          </div>
        </div>
      </q-card-section>

      <!-- buttons example -->
      <q-card-actions align="right">
        <q-btn color="primary" label="OK" @click="onOKClick" />
        <q-btn color="primary" label="Cancel" @click="onCancelClick" />
      </q-card-actions>
    </q-card>
  </q-dialog>
</template>
<script>
import { useDialogPluginComponent, useQuasar } from "quasar";
import { ref } from "vue";
//import { useLocalProjects } from "./../data/localStorage";
//import { getLocalSettings } from "./../data/localStorage";

export default {
  props: {
    ev: Object,
  },

  emits: [
    // REQUIRED
    "ok",
    "hide",
  ],

  setup(props) {
    const $q = useQuasar();
    const { dialogRef, onDialogHide, onDialogOK, onDialogCancel } =
      useDialogPluginComponent();
    const projects = []; //useLocalProjects();
    const selectedProject = null;
    /* ref(
      projects.value.find((p) => p.uid === props.ev.projectUid)
    );*/
    const eventToEdit = ref(props.ev);

    const settings = {}; //getLocalSettings();
    const eventTypes = []; //settings["event-types"];
    const selectedType = ref(
      eventTypes.find((t) => t.uid === props.ev.typeUid)
    );

    return {
      projects: projects,
      eventToEdit: eventToEdit,
      selectedProject: selectedProject,
      types: eventTypes,
      selectedType: selectedType,
      dialogRef,
      onDialogHide,

      // other methods that we used in our vue html template;
      // these are part of our example (so not required)
      onOKClick() {
        // on OK, it is REQUIRED to
        // call onDialogOK (with optional payload)
        if (selectedProject.value === null) {
          $q.notify({
            message: "Vous devez sélectionner un projet",
            color: "negative",
          });
        } else if (selectedType.value === null) {
          $q.notify({
            message: "Vous devez sélectionner un type",
            color: "negative",
          });
        } else {
          eventToEdit.value.projectUid = selectedProject.value.uid;
          eventToEdit.value.typeUid = selectedType.value.uid;
          onDialogOK();
        }
      },

      // we can passthrough onDialogCancel directly
      onCancelClick: onDialogCancel,
    };
  },
};
</script>
