<template>
  <!-- existing events -->
  <div class="q-pa-md">
    <q-table
      :rows="getRows()"
      :columns="columns"
      row-key="id"
      :filter="filter"
    >
      <!-- Search -->
      <template v-if="showFilter" v-slot:top-left>
        <q-input
          borderless
          dense
          debounce="300"
          v-model="filter"
          :placeholder="$t('common.search')"
        >
          <template v-slot:append>
            <q-icon name="search" />
          </template>
        </q-input>
      </template>

      <!-- export -->
      <template v-if="showExport" v-slot:top-right>
        <q-btn
          @click="exportToCsv"
          round
          class="q-ml-sm"
          color="secondary"
          icon="file_download"
          :disabled="getRows().length === 0"
        >
          <q-tooltip>{{ $t("events.download.csv") }}</q-tooltip>
        </q-btn>
      </template>
      <!-- comments cell body -->
      <template v-slot:body-cell-details="props">
        <q-td :props="props">
          <div v-html="props.value"></div>
        </q-td>
      </template>
      <!-- action cell body -->
      <template v-slot:body-cell-action="props">
        <q-td :props="props">
          <div>
            <q-btn
              icon="edit"
              @click.stop="rowEdit(props.key)"
              dense
              flat
              round
            >
              <q-tooltip>{{ $t("event.edit") }}</q-tooltip>
            </q-btn>
            <q-btn
              icon="delete"
              @click.stop="rowDelete(props.key)"
              color="negative"
              dense
              flat
              round
            >
              <q-tooltip>{{ $t("event.delete") }}</q-tooltip>
            </q-btn>
          </div>
        </q-td>
      </template>
    </q-table>
  </div>

  <q-separator />
  <div class="text-h6 q-pa-md">
    {{ $t("events.total.time", { time: tempsTotal }) }}
  </div>

  <q-separator />
  <div class="q-pa-md">
    <q-list separator>
      <q-item v-for="(item, index) in timePerType" :key="index">
        <q-item-section>
          <div class="row justify-between">
            <q-item-label class="text-h7">{{ item.type }}</q-item-label>
            <q-item-label>{{
              $t("events.time.per.type", { time: item.time })
            }}</q-item-label>
          </div>
        </q-item-section>
      </q-item>
    </q-list>
  </div>
</template>

<script>
import { exportFile } from "quasar";
import { ref } from "vue";
// import { getLocalProjects, getLocalEventTypes } from "./../data/localStorage";
import { dateFromFrenchDateString } from "./../helpers/date-helper";
import { createCsvString } from "./../helpers/csv-helper";

export default {
  props: {
    project: {
      type: Object,
      required: false,
    },
    events: {
      type: Array,
      required: true,
    },
    from: {
      type: String,
    },
    to: {
      type: String,
    },
    showFilter: {
      type: Boolean,
      default: true,
    },
    showExport: {
      type: Boolean,
      default: false,
    },
    search: {
      type: String,
      required: false,
    },
  },
  emits: ["event-row-delete", "event-row-edit"],
  created() {},
  methods: {
    getRows: function () {
      console.log(this.events)
      let filtered = this.events;
      /*if (this.project) {
        filtered = filtered.filter((ev) => ev.project.id === this.project.id);
      }

      // string filter
      if (this.search && this.search !== "") {
        filtered = filtered.filter(
          (ev) =>
            ev.date.includes(this.search) ||
            ev.details.toUpperCase().includes(this.search.toUpperCase()) ||
            this.getProjectTitle(ev.projectUid)
              .toUpperCase()
              .includes(this.search.toUpperCase()) ||
            ev.duration.toString().includes(this.search)
        );
      }

      if (this.from) {
        const fromDate = dateFromFrenchDateString(this.from);
        filtered = filtered.filter((ev) => {
          const eventDate = dateFromFrenchDateString(ev.date);
          return eventDate >= fromDate;
        });
      }

      if (this.to) {
        const toDate = dateFromFrenchDateString(this.to);
        filtered = filtered.filter((ev) => {
          const eventDate = dateFromFrenchDateString(ev.date);
          return eventDate <= toDate;
        });
      }
      const clone = Array.from(filtered);
      let time = 0;
      clone.forEach((ev) => {
        time += ev.time;
      });
      this.tempsTotal = time;

      // compute time per event type
      let localTimePerType = [];
      this.eventTypes.forEach((t) => {
        const events = filtered.filter((ev) => ev.typeUid === t.uid);
        if (events.length > 0) {
          let time = 0;
          events.forEach((ev) => {
            time += ev.duration;
          });
          localTimePerType.push({ type: t.label, time: time });
        }
      });

      this.timePerType = localTimePerType;*/
      console.log(filtered)

      return filtered;
    },
    getProjectTitle: function (uid) {
      //const project = this.projects.find((p) => p.uid === uid);
      //return project.title;
    },
    getTypeLabel: function (uid) {
      //const type = this.eventTypes.find((t) => t.uid === uid);
      //return type.label;
    },
    rowEdit: function (uid) {
      this.$emit("event-row-edit", uid);
    },
    rowDelete: function (uid) {
      this.$q
        .dialog({
          cancel: true,
          title: this.$t("common.confirm"),
          message: this.$t("events.delete.confirm.message"),
          ok: {
            push: true,
            color: "negative",
          },
        })
        .onOk(() => {
          this.$emit("event-row-delete", uid);
        });
    },
    exportToCsv: function () {
      const rows = this.getRows();
      const mapped = rows.map((row) => {
        return {
          date: row.date,
          projet: this.getProjectTitle(row.projectUid),
          type: this.getTypeLabel(row.typeUid),
          duration: row.duration,
          details: row.details,
        };
      });

      const header = {
        date: this.$t("events.table.column.date"),
        projet: this.$t("events.table.column.project"),
        type: this.$t("events.table.column.event.type"),
        duration: this.$t("events.table.column.duration"),
        details: this.$t("events.table.column.details"),
      };

      const content = createCsvString(mapped, header, ";");
      const status = exportFile("export.csv", content, "text/csv");

      if (status !== true) {
        this.$q.notify({
          message: "Browser denied file download...",
          color: "negative",
          icon: "warning",
        });
      }
    },
  },
  data() {
    return {
      tempsTotal: ref(0),
      timePerType: ref([]),
      filter: ref(""),
      projects: [], //getLocalProjects(),
      eventTypes: [], //getLocalEventTypes(),
      columns: [
        {
          name: "quand",
          required: true,
          label: this.$t("events.table.column.date"),
          align: "left",
          field: "date",
          sortable: true,
          sortOrder: "ad",
        },
        {
          name: "project",
          label: this.$t("events.table.column.project"),
          align: "left",
          field: "projectUid",
          format: (val) => this.getProjectTitle(val),
          sortable: true,
        },
        {
          name: "type",
          label: this.$t("events.table.column.event.type"),
          align: "left",
          field: "typeUid",
          format: (val) => this.getTypeLabel(val),
          sortable: true,
        },
        {
          name: "duration",
          align: "center",
          label: this.$t("events.table.column.duration"),
          field: "time",
          sortable: true,
        },
        {
          name: "details",
          align: "left",
          label: this.$t("events.table.column.details"),
          field: "commnents",
        },
        {
          name: "action",
          label: this.$t("table.column.actions"),
          align: "center",
        },
      ],
    };
  },
};
</script>
