<template>
  <!-- existing events type -->
  <div class="q-pa-md">
    <q-table
      :rows="types"
      :columns="columns"
      row-key="id"
      :pagination="initialEventTypePagination"
    >
      <!-- action cell body -->
      <template v-slot:body-cell-action="props">
        <q-td :props="props">
          <div>
            <q-btn
              icon="edit"
              @click.stop="rowEdit(props.key)"
              dense
              flat
              round
            >
              <q-tooltip>Modifier le type d'évènement</q-tooltip>
            </q-btn>
            <q-btn
              icon="delete"
              @click.stop="rowDelete(props.key)"
              color="negative"
              dense
              flat
              round
            >
              <q-tooltip>Supprimer le type d'évènement</q-tooltip>
            </q-btn>
          </div>
        </q-td>
      </template>
    </q-table>
  </div>
</template>

<script>
import { useQuasar } from "quasar";

export default {
  name: "EventTypeList",
  props: {
    types: {
      type: Array,
      required: true,
    },
  },
  emits: ["event-type-row-delete", "event-type-row-edit"],
  created() {},
  setup(props, context) {
    const $q = useQuasar();

    const initialEventTypePagination = {
      sortBy: "asc",
      rowsPerPage: 15,
      // rowsNumber: xx if getting data from a server
    };

    const columns = [
      {
        name: "label",
        required: true,
        label: "Libellé",
        align: "left",
        field: "name",
        sortable: true,
        sortOrder: "ad",
      },
      {
        name: "action",
        label: "Actions",
        align: "center",
      },
    ];

    const rowDelete = (id) => {
      $q.dialog({
        cancel: true,
        title: "Sûr.e ?",
        message:
          "Vous êtes sur le point de supprimer le type d'évènement. Êtes-vous sûr.e ?",
        ok: {
          push: true,
          color: "negative",
        },
      }).onOk(() => {
        context.emit("event-type-row-delete", id);
      });
    };

    const rowEdit = (id) => {
      context.emit("event-type-row-edit", id);
    };

    return {
      columns,
      initialEventTypePagination,
      rowEdit,
      rowDelete,
    };
  },
};
</script>
