<template>
  <!-- existing notes -->
  <div class="q-pa-md">
    <q-table :rows="getRows()" :columns="columns" row-key="uid">
      <!-- comments cell body -->
      <template v-slot:body-cell-content="props">
        <q-td :props="props">
          <div v-html="props.value"></div>
        </q-td>
      </template>
      <template v-slot:body-cell-project="props">
        <q-td :props="props">
          <div>{{ getProjectTitle(props.value) }}</div>
        </q-td>
      </template>
      <!-- action cell body -->
      <template v-slot:body-cell-action="props">
        <q-td :props="props">
          <div>
            <q-btn
              icon="visibility"
              :to="`/notes/${props.key}`"
              dense
              flat
              round
            />
            <q-btn
              icon="delete"
              @click.stop="rowDelete(props.key)"
              color="negative"
              dense
              flat
              round
            />
          </div>
        </q-td>
      </template>
    </q-table>
  </div>
</template>

<script>
import { useQuasar } from "quasar";
// import { getLocalProjects } from "./../data/localStorage";

export default {
  props: ["project", "notes"],
  emits: ["note-row-delete"],
  setup(props, context) {
    const $q = useQuasar();
    const projects = [];// getLocalProjects();

    const getProjectTitle = (uid) => {
      const project = projects.find((p) => p.uid === uid);
      return project.title;
    };

    const getRows = () => {
      let filtered = props.notes;
      if (props.project) {
        filtered = filtered.filter(
          (note) => note.projectUid === props.project.uid
        );
      }

      return filtered;
    };
    const columns = [
      {
        name: "title",
        required: true,
        label: "Titre",
        align: "left",
        field: "title",
        sortable: true,
        sortOrder: "ad",
      },
      {
        name: "project",
        label: "Projet",
        field: "projectUid",
        sortable: true,
      },
      {
        name: "action",
        label: "Actions",
        align: "center",
      },
    ];

    const rowDelete = (uid) => {
      $q.dialog({
        cancel: true,
        title: "Sûr.e ?",
        message:
          "Vous êtes sur le point de supprimer la note. Êtes-vous sûr.e ?",
        ok: {
          push: true,
          color: "negative",
        },
      }).onOk(() => {
        context.emit("note-row-delete", uid);
      });
    };

    return {
      columns,
      rowDelete,
      getRows,
      getProjectTitle,
    };
  },
};
</script>
