<template>
  <q-card
    flat
    bordered
    class="q-mb-centered cursor-pointer"
    @click="$emit('click', $event)"
  >
    <q-tooltip>Clicker pour voir le détail</q-tooltip>
    <q-card-section class="q-pt-xs">
      <div class="text-h5 q-mt-sm q-mb-xs">{{ title }}</div>
      <div class="text-caption text-grey" v-html="description"></div>
    </q-card-section>
    <q-card-actions>
      <q-btn flat>
        <q-icon left name="access_time"></q-icon>
        <div>{{ `${getProjectEventsCount()} évènements` }}</div>
      </q-btn>
      <q-btn flat>
        <q-icon left name="article"></q-icon>
        <div>{{ `${getProjectNotesCount()} notes` }}</div>
      </q-btn>
    </q-card-actions>
  </q-card>
</template>

<script>
export default {
  props: {
    title: {
      type: String,
    },
    description: {
      type: String,
    },
    id: {
      type: Number,
    },
  },
  setup(props) {
    const getProjectEventsCount = () => {
      const events = []; //getEventsByProject(props.pid);
      return events.length;
    };

    const getProjectNotesCount = () => {
      const notes = []; //getNotesByProject(props.pid);
      return notes.length;
    };

    return {
      getProjectEventsCount,
      getProjectNotesCount,
    };
  },
};
</script>
