<template>
  <q-layout view="lHh Lpr lFf">
    <q-header class="bg-blue-grey-8" elevated>
      <q-toolbar>
        <!-- menu hamburger -->
        <q-btn
          flat
          dense
          round
          icon="menu"
          aria-label="Menu"
          @click="toggleLeftDrawer"
        />
        <!-- title (& also push the other items to the right) -->
        <q-toolbar-title></q-toolbar-title>
        <!-- today's date -->
        <div class="text-subtitle1">{{ todaysDate }}</div>
      </q-toolbar>
    </q-header>

    <q-drawer v-model="leftDrawerOpen" show-if-above bordered>
      <q-list separator>
        <q-item-label header>Tasks Manager</q-item-label>
        <MenuLink v-for="link in menuLinks" :key="link.id" v-bind="link" />
      </q-list>
    </q-drawer>

    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>
import { defineComponent, ref } from "vue";
import MenuLink from "components/MenuLink.vue";
import { date, useQuasar, setCssVar } from "quasar";

const linksList = [
  {
    id: "68b207b6-263c-40b0-87e1-f854d62d6b44",
    title: "Accueil",
    caption: "Bienvenue",
    icon: "home",
    link: "/",
  },
  {
    id: "b04584bc-630c-413b-a4da-5a2b8b7a65d9",
    title: "Projets",
    caption: "Mes projets",
    icon: "work",
    link: "/projects",
  },
  {
    id: "f9f2f8f4-c86a-46c0-a511-1b18ace884eb",
    title: "Évènements",
    caption: "Tous mes évènements",
    icon: "access_time",
    link: "/events",
  },
  {
    id: "a56a0842-7523-4c15-a15d-2bb1a383f4a6",
    title: "Préférences",
    caption: "Mes préférences",
    icon: "settings",
    link: "/settings",
  },
];

export default defineComponent({
  name: "MainLayout",

  components: {
    MenuLink,
  },
  computed: {
    todaysDate() {
      const timestamp = Date.now();
      return date.formatDate(timestamp, "DD/MM/YYYY H:mm");
    },
  },
  data() {
    this.getPreferedTheme();
    return {
      $q: useQuasar(),
      preferedTheme: null,
      leftDrawerOpen: ref(false),
      menuLinks: linksList,
    };
  },
  methods: {
    getPreferedTheme: function () {
      this.$api
        .get("prefered-theme")
        .then((response) => {
          if (response.status === 200) {
            this.preferedTheme = JSON.parse(response.data);
            this.applyTheme();
          }
        })
        .catch((error) => {
          this.$q.notify({
            color: "negative",
            position: "top",
            message: "An error occuredddd",
            icon: "report_success",
          });
        });
    },
    applyTheme: function () {
      this.$q.dark.set(this.preferedTheme.isDark);
      // deep clone object and unset  isDarl key to avoid "setCssVar expects a string, not a boolean" error
      const t = Object.assign({}, this.preferedTheme);
      delete t.isDark;
      Object.keys(t).forEach((key) => {
        setCssVar(key, String(t[key]));
      });

      setCssVar("dark", t.background);
      setCssVar("dark-page", t.background);
    },
    toggleLeftDrawer: function () {
      this.leftDrawerOpen = !this.leftDrawerOpen;
    },
  },
});
</script>
