<template>
  <q-page padding>
    <div class="text-h5">Nouveau projet</div>
    <form @submit.prevent="submit">
      <q-input
        class="q-mt-sm"
        v-model="project.name"
        outlined
        label="Titre"
      ></q-input>
      <q-card>
        <q-editor
          class="q-mt-sm"
          v-model="project.description"
          outlined
          min-height="5rem"
          label="Description"
        ></q-editor>
      </q-card>

      <div class="q-mt-md">
        <q-btn to="/projects" type="reset">Annuler</q-btn>
        <q-btn color="positive" class="q-ml-sm" type="submit">Créer</q-btn>
      </div>
    </form>
  </q-page>
</template>

<script>
import { useRouter } from "vue-router";

export default {
  setup() {},
  data() {
    return {
      project: {
        name: "",
        description: "",
      },
      router: useRouter(),
    };
  },
  methods: {
    submit: function () {
      this.$api
        .post("project", this.project)
        .then((response) => {
          if (response.status === 200) {
            this.router.push("/");
          } else {
            this.router.push("error");
          }
        })
        .catch((error) => {
          this.router.push("error");
        });
    },
  },
};
</script>
