<template>
  <q-page class="column" padding>
    <q-card>
      <div class="row items-center justify-between q-pl-md q-pr-md">
        <div class="q-mb-md q-mt-md text-h5">Mes projets</div>
        <div>
          <q-btn color="primary" round icon="add" to="/projects/new"></q-btn>
        </div>
      </div>
    </q-card>

    <q-card class="q-mt-md">
      <div
        class="q-pa-md row items-start q-gutter-md"
        v-if="projects.length > 0"
      >
        <ProjectCard
          class="my-card"
          v-for="{ id, name, description } in projects"
          :key="id"
          :title="name"
          :description="description"
          :id="id"
          @click="router.push(`/projects/${id}`)"
        />
      </div>
      <div class="q-pa-md row items-start q-gutter-md" v-else>
        <h6>Aucun projet</h6>
      </div>
    </q-card>

    <q-card class="q-mt-md">
      <div class="row items-center justify-between q-pl-md q-pr-md">
        <div class="q-mb-md q-mt-md text-h5">Évènements du jour</div>
        <div>
          <q-btn color="primary" round icon="add" to="/events/new"></q-btn>
        </div>
      </div>
    </q-card>

    <q-card
      class="q-mt-md"
      v-if="todayEvents && todayEvents.length > 0"
    ></q-card>
    <q-card class="q-mt-md" v-else>
      <div class="q-pa-md row items-start q-gutter-md">
        <h6>Aucun évènement aujourd'hui</h6>
      </div>
    </q-card>
  </q-page>
</template>

<script>
import { ref } from "vue";
import { useRouter } from "vue-router";
import ProjectCard from "./../components/ProjectCard.vue";
import { useQuasar } from "quasar";

export default {
  name: "HomePage",
  components: {
    ProjectCard,
  },
  setup() {},
  data() {
    this.fetchProjects();
    return {
      projects: [],
      todayEvents: [],
      router: useRouter(),
      apiResult: ref(null),
      $q: useQuasar(),
    };
  },

  methods: {
    fetchProjects: function () {
      this.$api
        .get("/project")
        .then((response) => {
          if (response.status === 200) {
            this.projects = JSON.parse(response.data);
            this.projects.forEach((p) => {
              //const projectEvents = p.events.find(ev => ev.date === today)
              console.log("events", p.events);
            });
          } else if (response.status === 401) {
            this.router.push("forbidden");
          } else {
            this.router.push("error");
          }
        })
        .catch((e) => {
          this.router.push("error");
        });
    },
  },
};
</script>

<style lang="scss" scoped>
.my-card {
  width: 100%;
  max-width: 350px;
}
</style>
