<template>
  <q-page padding>
    <!-- project edit form -->
    <div v-if="editing">
      <form @submit="editing = false" action="">
        <q-input
          class="q-mt-sm"
          v-model="project.title"
          outlined
          label="Titre"
        ></q-input>
        <q-card>
          <q-editor
            class="q-mt-sm"
            v-model="project.description"
            outlined
            min-height="5rem"
            label="Description"
          ></q-editor>
        </q-card>

        <div class="q-mt-md">
          <q-btn color="positive" class="q-ml-sm" type="submit">Ok</q-btn>
          <q-btn
            color="primary"
            @click="editing = !editing"
            class="q-ml-sm"
            type="button"
            >Annuler</q-btn
          >
        </div>
      </form>
    </div>
    <!-- project details view -->
    <div v-else>
      <div class="row items-center justify-between">
        <div class="q-mb-md q-mt-md text-h5">{{ project.title }}</div>
        <div>
          <q-btn round color="primary" icon="chevron_left" to="/projects">
            <q-tooltip>Retour à la liste des projets</q-tooltip>
          </q-btn>
          <q-btn
            round
            class="q-ml-sm"
            color="secondary"
            icon="edit"
            @click="editing = true"
          ></q-btn>
          <q-btn
            round
            class="q-ml-sm"
            color="red"
            icon="delete"
            @click="deleteProject"
          ></q-btn>
        </div>
      </div>

      <div class="q-mb-md q-mt-md" v-html="project.description"></div>
      <q-separator />

      <div class="row justify-between q-pl-md q-pr-md q-pt-md">
        <div class="col-10">
          <q-list bordered class="rounded-borders">
            <q-expansion-item
              expand-separator
              icon="access_time"
              label="Evènements"
              caption="évènements du projet"
            >
              <q-card>
                <q-card-section>
                  <EventList
                    @event-row-edit="handleEventRowEdit"
                    @event-row-delete="handleEventRowDelete"
                    :project="project"
                    :events="allEvents"
                  />
                </q-card-section>
              </q-card>
            </q-expansion-item>

            <q-expansion-item
              expand-separator
              icon="article"
              label="Notes"
              caption="notes du projet"
            >
              <q-card>
                <q-card-section>
                  <NoteList
                    @note-row-delete="handleNoteRowDelete"
                    :project="project"
                    :notes="allNotes"
                  />
                </q-card-section>
              </q-card>
            </q-expansion-item>
          </q-list>
        </div>
        <div class="col-2 q-pl-md">
          <div class="q-pb-md">
            <CreateEventBtn
              @event-created="handleEventCreated"
              :project="project"
              :round="true"
              icon="access_time"
              label="Créer un évènement"
            />
          </div>
          <div>
            <CreateNoteBtn
              @note-created="handleNoteCreated"
              :project="project"
              :round="true"
              icon="article"
              label="Ajouter une note"
            />
          </div>
        </div>
      </div>
    </div>
  </q-page>
</template>

<script>
import { computed, ref } from "vue";
import {
  useLocalProjects,
  useLocalEvents,
  useLocalNotes,
} from "./../data/localStorage";
import { useRouter, useRoute } from "vue-router";
import { useQuasar } from "quasar";
import CreateEventBtn from "./../components/CreateEventBtn.vue";
import CreateNoteBtn from "./../components/CreateNoteBtn.vue";
import EditEventDialog from "./../components/EditEventDialog.vue";
import EventList from "./../components/EventList.vue";
import NoteList from "src/components/NoteList.vue";

export default {
  components: {
    CreateEventBtn,
    CreateNoteBtn,
    EventList,
    NoteList,
  },
  setup() {
    const $q = useQuasar();
    const route = useRoute();
    const router = useRouter();
    const projects = useLocalProjects();
    const allEvents = useLocalEvents();
    const allNotes = useLocalNotes();
    const uid = computed(() => route.params.id);
    const project = projects.value.find((n) => n.uid === uid.value);
    const editing = ref(false);

    const handleEventCreated = (eventData) => {
      allEvents.value.push(eventData);
      $q.notify({
        message: "L'évènement a été créé",
        icon: "check",
        color: "positive",
      });
    };

    const handleNoteCreated = (noteData) => {
      allNotes.value.push(noteData);
      $q.notify({
        message: "La note a été créée",
        icon: "check",
        color: "positive",
      });
    };

    const handleEventRowEdit = (uid) => {
      const event = allEvents.value.find((ev) => ev.uid === uid);
      $q.dialog({
        component: EditEventDialog,
        componentProps: {
          ev: event,
        },
      }).onOk(() => {
        $q.notify({
          message: "L'évènement a été modifié",
          icon: "check",
          color: "positive",
        });
      });
    };

    const handleEventRowDelete = (uid) => {
      const index = allEvents.value.findIndex((ev) => ev.uid === uid);
      allEvents.value.splice(index, 1);
    };

    const handleNoteRowDelete = (uid) => {
      const index = allNotes.value.findIndex((note) => note.uid === uid);
      allNotes.value.splice(index, 1);
    };

    const deleteProject = () => {
      $q.dialog({
        cancel: true,
        title: "Sûr.e ?",
        message:
          "Vous êtes sur le point de supprimer le projet. Êtes-vous sûr.e ?",
        ok: {
          push: true,
          color: "negative",
        },
      }).onOk(() => {
        const index = projects.value.findIndex((n) => n.uid === uid.value);
        projects.value.splice(index, 1);
        router.push("/");
      });
    };
    return {
      project,
      editing,
      allEvents,
      allNotes,
      deleteProject,
      handleEventCreated,
      handleEventRowEdit,
      handleEventRowDelete,
      handleNoteCreated,
      handleNoteRowDelete,
    };
  },
};
</script>
