<template>
  <q-page v-if="project" padding>
    <!-- project edit form -->
    <div v-if="editing">
      <form @submit="editing = false" action="">
        <q-input
          class="q-mt-sm"
          v-model="project.name"
          outlined
          label="Nom"
        ></q-input>
        <q-card>
          <q-editor
            class="q-mt-sm"
            v-model="project.description"
            outlined
            min-height="5rem"
            label="Description"
          ></q-editor>
        </q-card>

        <div class="q-mt-md">
          <q-btn color="positive" class="q-ml-sm" type="submit">Ok</q-btn>
          <q-btn
            color="primary"
            @click="editing = !editing"
            class="q-ml-sm"
            type="button"
            >Annuler</q-btn
          >
        </div>
      </form>
    </div>
    <!-- project details view -->
    <div v-else>
      <div class="row items-center justify-between">
        <div class="q-mb-md q-mt-md text-h5">{{ project.name }}</div>
        <div>
          <q-btn round color="primary" icon="chevron_left" to="/">
            <q-tooltip>Retour à la liste des projets</q-tooltip>
          </q-btn>
          <q-btn
            round
            class="q-ml-sm"
            color="secondary"
            icon="edit"
            @click="editing = true"
          ></q-btn>
          <q-btn
            round
            class="q-ml-sm"
            color="red"
            icon="delete"
            @click="deleteProject"
          ></q-btn>
        </div>
      </div>

      <div class="q-mb-md q-mt-md" v-html="project.description"></div>
      <q-separator />

      <div class="row justify-between q-pl-md q-pr-md q-pt-md">
        <div class="col-10">
          <q-list bordered class="rounded-borders">
            <q-expansion-item
              expand-separator
              icon="access_time"
              label="Evènements"
              caption="évènements du projet"
            >
              <q-card>
                <q-card-section v-if="project">
                  <EventList
                    @event-row-edit="handleEventRowEdit"
                    @event-row-delete="handleEventRowDelete"
                    :project="project"
                    :events="project.events"
                  />
                </q-card-section>
              </q-card>
            </q-expansion-item>

            <q-expansion-item
              expand-separator
              icon="article"
              label="Notes"
              caption="notes du projet"
            >
              <q-card>
                <q-card-section>
                  <NoteList
                    @note-row-delete="handleNoteRowDelete"
                    :project="project"
                    :notes="project.notes"
                  />
                </q-card-section>
              </q-card>
            </q-expansion-item>
          </q-list>
        </div>
        <div class="col-2 q-pl-md">
          <div class="q-pb-md">
            <CreateEventBtn
              @event-created="handleEventCreated"
              :project="project"
              :round="true"
              icon="access_time"
              label="Créer un évènement"
            />
          </div>
          <div>
            <CreateNoteBtn
              @note-created="handleNoteCreated"
              :project="project"
              :round="true"
              icon="article"
              label="Ajouter une note"
            />
          </div>
        </div>
      </div>
    </div>
  </q-page>
</template>

<script>
import { useRouter, useRoute } from "vue-router";
import { useQuasar } from "quasar";
import CreateEventBtn from "./../components/CreateEventBtn.vue";
import CreateNoteBtn from "./../components/CreateNoteBtn.vue";
import EditEventDialog from "./../components/EditEventDialog.vue";
import EventList from "./../components/EventList.vue";
import NoteList from "src/components/NoteList.vue";

export default {
  components: {
    CreateEventBtn,
    CreateNoteBtn,
    EventList,
    NoteList,
  },
  data() {
    this.fetchProject(this.$route.params.id);

    return {
      project: null,
      eventTypes: [],
      editing: false,
      router: useRouter(),
      route: useRoute(),
      $q: useQuasar(),
    };
  },
  methods: {
    fetchEventTypes: function () {},
    fetchEvents: function () {
      this.$api
        .get(`event`)
        .then((response) => {
          if (response.status === 200) {
            this.project.events = JSON.parse(response.data);
          } else {
            this.$q.notify({
              message: "KO " + response.status,
              type: "negative",
            });
          }
        })
        .catch((error) => {
          this.$q.notify({
            message: "KO",
            type: "negative",
          });
        });
    },
    fetchProject: function (id) {
      this.$api
        .get(`project/${id}`)
        .then((response) => {
          if (response.status === 200) {
            this.project = JSON.parse(response.data);
            console.log('projetc', this.project)
          } else {
            this.$q.notify({
              message: "KO " + response.status,
              type: "negative",
            });
          }
        })
        .catch((error) => {
          this.$q.notify({
            message: "KO",
            type: "negative",
          });
        });
    },
    handleEventCreated: function (eventData) {
      console.log("created event", eventData);
      //allEvents.value.push(eventData);
      this.$api
        .post("event", eventData)
        .then((response) => {
          if (response.status === 200) {
            this.fetchProject(this.project.id);
            this.$q.notify({
              message: "L'évènement a été créé",
              type: "positive",
            });
          } else {
            this.$q.notify({
              message: "STATUS - Erreur lors de la création de l'évènement",
              type: "negative",
            });
          }
        })
        .catch((error) => {
          this.$q.notify({
            message: "CATCH - Erreur lors de la création de l'évènement",
            type: "negative",
          });
        });
    },
    handleNoteCreated: function (noteData) {
      //allNotes.value.push(noteData);
      this.$q.notify({
        message: "La note a été créée",
        type: "positive",
      });
    },
    handleEventRowEdit: function (uid) {
      const event = allEvents.value.find((ev) => ev.uid === uid);
      this.$q
        .dialog({
          component: EditEventDialog,
          componentProps: {
            ev: event,
          },
        })
        .onOk(() => {
          this.$q.notify({
            message: "L'évènement a été modifié",
            type: "positive",
          });
        });
    },
    handleEventRowDelete: function (id) {
      //const index = allEvents.value.findIndex((ev) => ev.uid === uid);
      //allEvents.value.splice(index, 1);
    },
    handleNoteRowDelete: function (id) {
      //const index = allNotes.value.findIndex((note) => note.uid === uid);
      //allNotes.value.splice(index, 1);
    },
    deleteProject: function () {
      this.$q
        .dialog({
          cancel: true,
          title: "Sûr.e ?",
          message:
            "Vous êtes sur le point de supprimer le projet. Êtes-vous sûr.e ?",
          ok: {
            push: true,
            color: "negative",
          },
        })
        .onOk(() => {
          console.log(this.project);
          this.$api
            .delete("project", { data: { id: this.project.id } })
            .then((response) => {
              if (response.status === 200) {
                this.router.push("/");
              } else {
                console.log(response);
              }
            })
            .catch((error) => {
              console.log(error);
            });
        });
    },
  },
};
</script>
