<template>
  <q-page padding>
    <q-card>
      <div class="row items-center justify-between q-pl-md">
        <div class="q-mb-md q-mt-md text-h5">Préférences</div>
      </div>
    </q-card>

    <q-card class="q-mt-md">
      <q-card-section>
        <div class="row items-center">
          <div class="col text-h6">Thème</div>
          <div class="col">
            <q-btn-dropdown
              color="primary"
              v-if="selectedTheme"
              :label="selectedTheme.name"
            >
              <q-list>
                <q-item
                  v-for="(theme, id) in themes"
                  :key="id"
                  clickable
                  v-close-popup
                  @click="applyTheme(theme, id)"
                >
                  <q-item-section>
                    <q-item-label>{{ theme.name }}</q-item-label>
                  </q-item-section>
                </q-item>
              </q-list>
            </q-btn-dropdown>
          </div>
        </div>
      </q-card-section>
      <q-separator />

      <q-card-section>
        <div class="row items-center">
          <div class="col text-h6">Typologie des évènements</div>
          <div class="col">
            <q-btn @click="showAddEventTypeForm">nouveau</q-btn>
          </div>
        </div>
        <EventTypeList
          :types="eventTypes"
          @event-type-row-delete="onEventTypeRowDelete"
          @event-type-row-edit="onEventTypeRowEdit"
        />
      </q-card-section>
    </q-card>
  </q-page>
</template>

<script>
import { useQuasar, setCssVar } from "quasar";
import { useRouter } from "vue-router";

import EventTypeList from "./../components/EventTypeList.vue";
import CreateEventTypeDialog from "src/components/CreateEventTypeDialog.vue";
import EditEventTypeDialog from "./../components/EditEventTypeDialog.vue";

export default {
  name: "SettingsPage",
  components: { EventTypeList },
  data() {
    this.fetchSettings();
    return {
      $q: useQuasar(),
      themes: [],
      eventTypes: [],
      projectFields: [],
      selectedTheme: null,
      router: useRouter(),
    };
  },
  methods: {
    fetchSettings: function () {
      this.$api
        .get("settings")
        .then((response) => {
          if (response.status === 200) {
            this.themes = JSON.parse(response.data.themes);
            this.selectedTheme = this.themes.find((th) => th.prefered === true);
            this.eventTypes = JSON.parse(response.data.categories);
            this.projectFields = JSON.parse(response.data.fields);
          }
        })
        .catch((error) => {
          this.$q.notify({
            type: "negative",
            position: "top",
            message: "An error occured",
          });
        });
    },
    showAddEventTypeForm: function () {
      this.$q
        .dialog({
          component: CreateEventTypeDialog,
        })
        .onOk((data) => {
          this.$api
            .post("category", data)
            .then((response) => {
              if (response.status === 200) {
                const eventType = JSON.parse(response.data);
                this.eventTypes.push(eventType);
                this.$q.notify({
                  type: "positive",
                  position: "top",
                  message: "Type d'évènement ajouté"
                });
              } else {
                this.$q.notify({
                  type: "negative",
                  position: "top",
                  message: "An error occured " + response.status
                });
              }
            })
            .catch((error) => {
              this.$q.notify({
                type: "negative",
                position: "top",
                message: "An error occured"
              });
            });
        });
    },
    applyTheme: function (theme, id) {
      this.$q.dark.set(theme.isDark);
      this.selectedTheme.value = theme;
      // deep clone object and unset  isDarl key to avoid "setCssVar expects a string, not a boolean" error
      const t = Object.assign({}, theme);
      delete t.isDark;
      Object.keys(t).forEach((key) => {
        setCssVar(key, String(t[key]));
      });
      setCssVar("dark", t.background);
      setCssVar("dark-page", t.background);
      this.$api
        .patch("theme", { id: theme.id })
        .then((response) => {
          if (response.status === 200) {
            this.$q.notify({
              type: "positive",
              position: "top",
              message: "Theme par défaut mis à jour"
            });
          } else {
            this.$q.notify({
              type: "negative",
              position: "top",
              message: "An error occured " + response.status
            });
          }
        })
        .catch((error) => {
          this.$q.notify({
            type: "negative",
            position: "top",
            message: "An error occured"
          });
        });
    },
    onEventTypeRowEdit: function (id) {
      const type = this.eventTypes.find((t) => t.id === id);
      this.$q
        .dialog({
          component: EditEventTypeDialog,
          componentProps: {
            type: type,
          },
        })
        .onOk(() => {
          this.$api
            .patch("category", { id: id, name: type.name })
            .then((response) => {
              if (response.status === 200) {
                this.$q.notify({
                  type: "positive",
                  position: "top",
                  message: "Yeaaah"
                });
              } else {
                this.$q.notify({
                  type: "negative",
                  position: "top",
                  message: "An error occured " + response.status
                });
              }
            })
            .catch((error) => {
              this.$q.notify({
                type: "negative",
                position: "top",
                message: "An error occured"
              });
            });
        });
    },
    onEventTypeRowDelete: function (id) {
      this.$api
        .delete("category", { data: { id: id } })
        .then((response) => {
          if (response.status === 200) {
            const index = this.eventTypes.indexOf((el) => el.id === id);
            this.eventTypes.splice(index, 1);
            this.$q.notify({
              type: "positive",
              position: "top",
              message: "Type d'évènement supprimé"
            });
          }
        })
        .catch((error) => {
          console.log(error);
          this.$q.notify({
            type: "negative",
            position: "top",
            message: "An error occured"
          });
        });
    },
  },
  setup() {},
};
</script>
